<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.7.37355" targetFramework="net48" />
  <package id="envdte100" version="17.7.37355" targetFramework="net48" />
  <package id="envdte80" version="17.7.37355" targetFramework="net48" />
  <package id="envdte90" version="17.7.37355" targetFramework="net48" />
  <package id="envdte90a" version="17.7.37355" targetFramework="net48" />
  <package id="MessagePack" version="2.5.108" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.5.108" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.7.2" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.7.2" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.3.50" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Framework" version="4.3.50" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Resources" version="4.3.233" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.7.188" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Composition" version="17.7.18" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.7.18" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Editor" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.InteractiveWindow" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Language" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.7.37349" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.7.9" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.7.2175" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Embeddable" version="16.10.31320.204" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="16.10.31321.278" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="16.10.31320.204" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.7.57" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.0.491" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.7.30" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.7.30" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.42" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.VsInteractiveWindow" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.7.2196" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.7.2196" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.10.69" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="StreamJsonRpc" version="2.16.36" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>